/* Color Scheme */

:root {
    --primary-color: #A7306B;
    /* #1e90ff; */
    --secondary-color: #333;
    --background-color: #f2f2f2;
}


/* Typography */

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-color);
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--secondary-color);
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

ol {
    font-size: 18px;
    color: var(--secondary-color);
    margin-top: 0;
    margin-bottom: 10px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
}

.instructions {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}


/* Layout and Spacing */

.logo-and-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    align-items: center;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 2px solid var(--secondary-color);
}


/* Accessibility */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

a:hover,
a:focus {
    outline: none;
    border-bottom-color: transparent;
    background-color: var(--primary-color);
    color: white;
}
